.text-center {
  text-align: center;
}

.text-header {
  line-height: 48px;
  font-weight: 600;
  color: white;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}
